# 1장, 서울시 구별 CCTV 현황 분석

## 1-1 CCTV 현황과 인구 현황 데이터 구하기
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [7]:
Data_Path = '/content/drive/MyDrive/파이썬으로_데이터_주무르기/1장 서울시 구별 CCTV 현황 분석/data/'

In [9]:
CCTV_Seoul = pd.read_csv(Data_Path + '01. CCTV_in_Seoul.csv', encoding = 'utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613