# 1장, 서울시 구별 CCTV 현황 분석

## 1-1 CCTV 현황과 인구 현황 데이터 구하기
---

In [74]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
import pandas as pd

## 1-2 파이썬에서 텍스트 파일과 엑셀 파일 읽기 - pandas

### CCTV_in_Seoul.csv 데이터 불러오기

In [76]:
Data_Path = '/content/drive/MyDrive/파이썬으로_데이터_주무르기/1장 서울시 구별 CCTV 현황 분석/data/'

In [77]:
CCTV_Seoul = pd.read_csv(Data_Path + '01. CCTV_in_Seoul.csv', encoding = 'utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

### Column이름 변경하기

In [78]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [79]:
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [80]:
CCTV_Seoul.columns[0]

'기관명'

In [81]:
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0] : '구별'}, inplace = True) # inplace = True 는, 실제 CCTV_Seoul이라는 "변수의 내용을 갱신"
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

### population_in_Seoul.xls 데이터 불러오기

In [82]:
# pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls')
# pop_Seoul.head()

- 오류를 검색해 보았더니, pandas openpyxl의 excel 관련 버전 충돌이라고 한다
- 위의 문제로 해결이 안됐고, 이번에는 xlrd 버전 관련 에러가 나서 업그레이드 후 '다시시작 및 모두실행'을 하니 문제가 해결 되었다.

여전히 의문1: 왜 이쪽은 encoding 관련 오류가 날까?

In [83]:
!pip install --upgrade xlrd #완료 후에 다시시작 및 모두실행을 하였다.

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [84]:
pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

엑셀 파일 자체의 head()가 저렇게 쓰여있기에, 이상하게 보인다.
때문에 ...

### 특정 '줄' 부터 읽고 // 특정 '열'만 읽기

In [85]:
pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls',
                          header = 2,
                          usecols = 'B, D, G, J, N',)

pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

### 이름을 새로 지정하기

In [86]:
pop_Seoul.rename(columns = {pop_Seoul.columns[0] : '구별',
                            pop_Seoul.columns[1] : '인구수',
                            pop_Seoul.columns[2] : '한국인',
                            pop_Seoul.columns[3] : '외국인',
                            pop_Seoul.columns[4] : '고령자'}, inplace = True)

pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

## 1-3 pandas 기초 익히기

In [87]:
import pandas as pd
import numpy as np

### Serise 만들기.
- 대괄호로 list를 생성하였습니다.
- `np.nan`을 넣어 NaN(Not a Number)도 넣었습니다.

In [88]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

pandas에는 날짜형 데이터인 date_range가 있습니다.
- 기본 날짜를 지정하고 periods옵션으로 6일간으로 지정 하였습니다.

In [89]:
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

DataFrame 유형의 데이터를 만듭니다.
- 6행 4열의 random변수를 만들었습니다.
- index에는 위에서 만든 날짜형 데이터인 dates를 넣었습니다.
- columns 에는 ['A', 'B', 'C', 'D'] 를 넣어주었습니다.

In [90]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

`head()` 라고하면 첫 5행만 보여주고, 괄호안에 숫자를 넣으면 그 만큼의 행을 볼 수 있습니다.

In [91]:
df.head(3)

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032

`index`, `columns` 명령을 이용하면, pandas의 DataFrame의 컬럼과 인덱스를 확인할 수 있습니다.

In [92]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [93]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

그리고 그 안에 들어가는 내용은 `value` 명령으로 확인할 수 있습니다.

In [94]:
df.values

array([[ 1.39815283, -0.68858616,  0.90603445,  0.48081178],
       [-1.4700138 ,  0.41507722,  1.06280528, -0.77030239],
       [ 0.50303545,  1.0846327 , -0.94854593,  0.41103155],
       [-1.34818235, -0.19152808, -3.1843132 , -0.29369721],
       [-1.80569053, -0.03409733, -0.65549064,  0.36766606],
       [-0.20477575,  1.46334662,  0.69412967,  1.32267519]])

또한, `.info()`명령을 사용하면 DataFrame의 개요를 알 수 있습니다.

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

`describe()` 명령을 사용하면 통계적 개요를 확인할 수 있습니다.
- count와 평균, min, max, 1/4 지점, 표준편차까지 한 번에 알 수 있습니다.
- 이 때, values가 숫자가 아니라 문자라고 하더라도, 그에 맞는 개요가 나타납니다.

In [96]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.487912  0.341474 -0.354230  0.253031
std    1.269686  0.812708  1.621644  0.718366
min   -1.805691 -0.688586 -3.184313 -0.770302
25%   -1.439556 -0.152170 -0.875282 -0.128356
50%   -0.776479  0.190490  0.019320  0.389349
75%    0.326083  0.917244  0.853058  0.463367
max    1.398153  1.463347  1.062805  1.322675

`sort_values` 명령은, `by`로 지정된 컬럼을 기준으로 정렬합니다. 

`ascending`옵션을 사용하면, 내림차순이나 오름차순으로 정렬시킬 수 있습니다.
- (False = 내림차순, True = 오름차순)

In [97]:
df.sort_values(by='B', ascending = False)

                   A         B         C         D
2013-01-06 -0.204776  1.463347  0.694130  1.322675
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-01  1.398153 -0.688586  0.906034  0.480812

`변수명`을 적고, 실행을 하면 그 내용이 나타납니다.
- 위에서 sort를 저장한것이 아니기 때문에, 다시 원래의 표가 나옵니다.
- 내용이 너무 많은 경우에는 Jupyter Notebook에서 내용을 줄여서 보여줍니다.

In [98]:
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

DataFrame으로 선언 된 변수의 경우 변수면 뒤에 `[columns명]`을 붙여주면 해당 칼럼만 Series로 보여줍니다.

In [99]:
df['A']

2013-01-01    1.398153
2013-01-02   -1.470014
2013-01-03    0.503035
2013-01-04   -1.348182
2013-01-05   -1.805691
2013-01-06   -0.204776
Freq: D, Name: A, dtype: float64

중간부터 보고싶다면, 행의 범위만 지정해서 볼 수 있습니다

In [100]:
df[2:6]

                   A         B         C         D
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

특정 행만 지정해서 볼 수도 있습니다.

In [101]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697

위에서 만든 dates 변수를 이용하여 특정 날짜의 데이터만 보고싶으면, `df.loc`명령을 사용합니다.
- loc는 location 옵션으로, 슬라이싱 할 때 loc옵션을 이용하여 위치 값을 지정할 수 있습니다.

In [102]:
print('dates[0] = ',dates[0],'\n','='*10,'\n')
df.loc[dates[0]] #dates[0] 의 행만 보여줍니다

dates[0] =  2013-01-01 00:00:00
 ==========

A    1.398153
B   -0.688586
C    0.906034
D    0.480812
Name: 2013-01-01 00:00:00, dtype: float64

A, B열의 모든 행을 보고 싶다면 `df.loc[:['A', 'B']]` 라고 하면 됩니다.

In [103]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.398153 -0.688586
2013-01-02 -1.470014  0.415077
2013-01-03  0.503035  1.084633
2013-01-04 -1.348182 -0.191528
2013-01-05 -1.805691 -0.034097
2013-01-06 -0.204776  1.463347

물론 행과 열의 범위를 모두 지정할 수도 있습니다.

In [104]:
df.loc['20130102':'20130104', ['A','B']]

                   A         B
2013-01-02 -1.470014  0.415077
2013-01-03  0.503035  1.084633
2013-01-04 -1.348182 -0.191528

또한, 특정 일의 A,B 컬럼의 내용을 확인하는 것 입니다.

In [105]:
df.loc['20130102',['A','B']]

A   -1.470014
B    0.415077
Name: 2013-01-02 00:00:00, dtype: float64

In [106]:
print(dates[1])

2013-01-02 00:00:00

In [107]:
df.loc[dates[1],'A']

-1.4700138037015262

이번에는, loc 명령어에서는 `dates[3]`과 같이 접근을 하였지만, 행과 열 번호만 이요하여 바로 접근하고 싶을 수 있는데, 이때 사용하는 명령어가 `iloc` 입니다.

In [108]:
df.loc[dates[3]]

A   -1.348182
B   -0.191528
C   -3.184313
D   -0.293697
Name: 2013-01-04 00:00:00, dtype: float64

In [109]:
df.iloc[3]

A   -1.348182
B   -0.191528
C   -3.184313
D   -0.293697
Name: 2013-01-04 00:00:00, dtype: float64

In [110]:
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

In [111]:
df.iloc[3:5,0:2] # 4~5번째 행의, 1~2번째 열

                   A         B
2013-01-04 -1.348182 -0.191528
2013-01-05 -1.805691 -0.034097

In [112]:
df.iloc[[1,2,4,],[0,2]]

                   A         C
2013-01-02 -1.470014  1.062805
2013-01-03  0.503035 -0.948546
2013-01-05 -1.805691 -0.655491

In [113]:
df.iloc[1:3,:] # 1:3 행의, 전체 열

                   A         B         C         D
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032

In [114]:
df.iloc[:,1:3] # 전체 행의, 1:3 열

                   B         C
2013-01-01 -0.688586  0.906034
2013-01-02  0.415077  1.062805
2013-01-03  1.084633 -0.948546
2013-01-04 -0.191528 -3.184313
2013-01-05 -0.034097 -0.655491
2013-01-06  1.463347  0.694130

특정 조건에서 만족하는 데이터만 얻어보겠습니다. 
- `df.['A']` 처럼 할 수도 있고,
- `df.A` 처럼 할 수도 있습니다.


아래는 컬럼 A에서 0보다 큰 행만 얻는 것 입니다.

In [115]:
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

In [116]:
df[df['A'] > 0] # A의 값이 0보다 큰 행만 출력

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-03  0.503035  1.084633 -0.948546  0.411032

In [117]:
df[df.A > 0]

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-03  0.503035  1.084633 -0.948546  0.411032

In [118]:
df[df > 0] # 전테 DataFrame에서 0보다 큰 값만 출력

                   A         B         C         D
2013-01-01  1.398153       NaN  0.906034  0.480812
2013-01-02       NaN  0.415077  1.062805       NaN
2013-01-03  0.503035  1.084633       NaN  0.411032
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05       NaN       NaN       NaN  0.367666
2013-01-06       NaN  1.463347  0.694130  1.322675

[주의!!!]

DataFrame을 복사할 때는 그냥 `=` 기호를 이용해서 복사하면 실제 데이터의 내용이 복사되는것이 아니라, 데이터 위치만 복사되기 때문에, 원본 데이터는 하나만 있게 됩니다.

때문에, 내용까지 복사하라는 지령은 `copy()` 옵션을 붙여 넣으면 됩니다.

In [119]:
df_row = df.copy()
df_equal = df
df_copy = df.copy()

In [120]:
df_equal

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

In [121]:
df_copy

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

### 새로운 컬럼 추가하기

In [122]:
df_copy['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df_copy

                   A         B         C         D      E
2013-01-01  1.398153 -0.688586  0.906034  0.480812    one
2013-01-02 -1.470014  0.415077  1.062805 -0.770302    one
2013-01-03  0.503035  1.084633 -0.948546  0.411032    two
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697  three
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666   four
2013-01-06 -0.204776  1.463347  0.694130  1.322675  three

In [123]:
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

In [124]:
df_equal['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df_equal

                   A         B         C         D      E
2013-01-01  1.398153 -0.688586  0.906034  0.480812    one
2013-01-02 -1.470014  0.415077  1.062805 -0.770302    one
2013-01-03  0.503035  1.084633 -0.948546  0.411032    two
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697  three
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666   four
2013-01-06 -0.204776  1.463347  0.694130  1.322675  three

In [125]:
df

                   A         B         C         D      E
2013-01-01  1.398153 -0.688586  0.906034  0.480812    one
2013-01-02 -1.470014  0.415077  1.062805 -0.770302    one
2013-01-03  0.503035  1.084633 -0.948546  0.411032    two
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697  three
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666   four
2013-01-06 -0.204776  1.463347  0.694130  1.322675  three

[주의] 원본까지 변해벼렸다 !!!!!

In [129]:
df = df_row.copy()
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

In [130]:
df_copy

                   A         B         C         D      E
2013-01-01  1.398153 -0.688586  0.906034  0.480812    one
2013-01-02 -1.470014  0.415077  1.062805 -0.770302    one
2013-01-03  0.503035  1.084633 -0.948546  0.411032    two
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697  three
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666   four
2013-01-06 -0.204776  1.463347  0.694130  1.322675  three

아무튼, 이렇게 만든 E 컬럼에서 'two'와 'four'이 있는지 조건을 걸고 싶을 때는 isin 명령을 쓰면 좋습니다.

In [131]:
df_copy['E'].isin(['two', 'four'])

2013-01-01    False
2013-01-02    False
2013-01-03     True
2013-01-04    False
2013-01-05     True
2013-01-06    False
Freq: D, Name: E, dtype: bool

그 결과는 True/False로 반환하는데, 이를 이용하여 조건에 맞는 데이터를 선택할 수 있습니다.

In [132]:
df_copy[df_copy['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.503035  1.084633 -0.948546  0.411032   two
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666  four

In [133]:
df

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -1.470014  0.415077  1.062805 -0.770302
2013-01-03  0.503035  1.084633 -0.948546  0.411032
2013-01-04 -1.348182 -0.191528 -3.184313 -0.293697
2013-01-05 -1.805691 -0.034097 -0.655491  0.367666
2013-01-06 -0.204776  1.463347  0.694130  1.322675

### 통계적인 느낌을 볼 때는 `apply`명령을 넣으면 된다.
- 누적 합을 알고싶을 때는 numpy의 `cumsum`을 이용한다.

In [135]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  1.398153 -0.688586  0.906034  0.480812
2013-01-02 -0.071861 -0.273509  1.968840 -0.289491
2013-01-03  0.431174  0.811124  1.020294  0.121541
2013-01-04 -0.917008  0.619596 -2.164019 -0.172156
2013-01-05 -2.722698  0.585498 -2.819510  0.195510
2013-01-06 -2.927474  2.048845 -2.125380  1.518185

특별히 최댓값과 최솟값의 차이(혹은 거리)를 알고 싶다면 one-line함수인 `lambda`를 이용하면 됩니다.

In [136]:
df.apply(lambda x: x.max() - x.min())

A    3.203843
B    2.151933
C    4.247118
D    2.092978
dtype: float64

## 1-4 pandas를  이용해서 CCTV와 인구 현황 데이터 파악하기