# 1장, 서울시 구별 CCTV 현황 분석

## 1-1 CCTV 현황과 인구 현황 데이터 구하기
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

## 1-2 파이썬에서 텍스트 파일과 엑셀 파일 읽기 - pandas

### CCTV_in_Seoul.csv 데이터 불러오기

In [3]:
Data_Path = '/content/drive/MyDrive/파이썬으로_데이터_주무르기/1장 서울시 구별 CCTV 현황 분석/data/'

In [4]:
CCTV_Seoul = pd.read_csv(Data_Path + '01. CCTV_in_Seoul.csv', encoding = 'utf-8')
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

### Column이름 변경하기

In [5]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
CCTV_Seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [7]:
CCTV_Seoul.columns[0]

'기관명'

In [8]:
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0] : '구별'}, inplace = True) # inplace = True 는, 실제 CCTV_Seoul이라는 "변수의 내용을 갱신"
CCTV_Seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

### population_in_Seoul.xls 데이터 불러오기

In [9]:
# pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls')
# pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

- 오류를 검색해 보았더니, pandas openpyxl의 excel 관련 버전 충돌이라고 한다
- 위의 문제로 해결이 안됐고, 이번에는 xlrd 버전 관련 에러가 나서 업그레이드 후 '다시시작 및 모두실행'을 하니 문제가 해결 되었다.

여전히 의문1: 왜 이쪽은 encoding 관련 오류가 날까?

In [10]:
!pip install --upgrade xlrd #완료 후에 다시시작 및 모두실행을 하였다.

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [11]:
pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls')
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

엑셀 파일 자체의 head()가 저렇게 쓰여있기에, 이상하게 보인다.
때문에 ...

### 특정 '줄' 부터 읽고 // 특정 '열'만 읽기

In [12]:
pop_Seoul = pd.read_excel(Data_Path + '01. population_in_Seoul.xls',
                          header = 2,
                          usecols = 'B, D, G, J, N',)

pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

### 이름을 새로 지정하기

In [16]:
pop_Seoul.rename(columns = {pop_Seoul.columns[0] : '구별',
                            pop_Seoul.columns[1] : '인구수',
                            pop_Seoul.columns[2] : '한국인',
                            pop_Seoul.columns[3] : '외국인',
                            pop_Seoul.columns[4] : '고령자'}, inplace = True)

pop_Seoul.head()

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

## 1-3 pandas 기초 익히기

In [17]:
import pandas as pd
import numpy as np

In [18]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64